body {
  background-image: url("nike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  display: flex;
  background-color: #281111;
  width: 880px;
  border-radius: 30px;
}
/* the small nike logo*/
.logo {
  display: flex;
  width: 105px;
  height: 50px;
}
/* the frist div (the Nike shoes)*/

/*the second div */
.text {
  width: 300px;
  float: right;
  color: white;
  padding-left: 20px;
}
/*the rating*/
.rating {
  margin-left: 3px;
  margin-bottom: 30px;
}
/* Rating color*/
.star {
  color: #f7bf16;
}
/*
.blue {
  background: #0f7a94;
}

.red {
  background: #9b062a;
}

.yellow {
  background: #dbfd20;
}
.green {
  background: #119155;
}

/*slider active

.active {
  box-shadow: inset 0 0 0 2px #0f7a94, inset 0 0 0 4px #fff;
}

*/

/*the button of ADD TO CARD*/
.button {
  font-family: "Montserrat", sans-serif;
  background: #333;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.25s;
}

#red:before {
  content: "";
  border: 2px solid red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: -1px;
  top: -2px;
}
#blue:before {
  content: "";
  border: 2px solid blue;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: -1px;
  top: -2px;
}
#green:before {
  content: "";
  border: 2px solid rgb(31, 248, 23);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: -1px;
  top: -2px;
}
#black:before {
  content: "";
  border: 2px solid black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: -1px;
  top: -2px;
}
